In [1]:
import pandas as pd
import numpy as np

raw_data = pd.read_excel("data/ouse93-96-raw-data.xlsx")
raw_data.head()

,Unnamed: 0,Mean Daily Flow - Cumecs,Unnamed: 2,Unnamed: 3,Unnamed: 4,Daily Rainfall Total - mm,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaT,Crakehill,Skip Bridge,Westwick,Skelton,Arkengarthdale,East Cowton,Malham Tarn,Snaizeholme,NaN,NaN,You are to predict the mean daily flow at Skel...
1,1993-01-01,10.4,4.393,9.291,26.1,0,0,0,4,NaN,NaN,(Cumecs = m^3/s)
2,1993-01-02,9.95,4.239,8.622,24.86,0,0,0.8,0,NaN,NaN,NaN
3,1993-01-03,9.46,4.124,8.057,23.6,0,0,0.8,0,NaN,NaN,NaN
4,1993-01-04,9.41,4.363,7.925,23.47,2.4,24.8,0.8,61.6,NaN,NaN,NaN